{% extends "base.html" %}

{% block bodycontent %}

	<form action="" id="book_cab"method="post">{% csrf_token %}
		<div class="form-group">
		  <label for="latitude">Latitude</label>
		  <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Your Latitude" \>
		</div>
		<div class="col-sm-12">
            <div class="form-group col-xs-8">
            <span class="ci_txt_error" id='latitude_error' style="text-align:centre;"></span>
            </div>
        </div>
		<div class="form-group">
		  <label for="longitude">Longitude</label>
		  <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Your Longitude" \>
		</div>
		<div class="form-group">
		  <label for="color">Color</label>
		  <input type="text" class="form-control" id="color" name="color" placeholder="Your Color Preference" \>
		</div>
	    <input type="submit" value="Confirm Booking" />
	   
	</form>
	
	<script type="text/javascript">
	$(document).ready(function()
	{
		$.validator.addMethod("customValidation", function(value, element) {
		    return (value == 'pink') || (value == '');
		}, "Value must be 'pink or leave it as blank'.");
		
		$('#book_cab').submit(function(e){
			e.preventDefault();
		}).validate({
			rules:{
				latitude:{
					required:true,
					alphamuneric:false,
					range:[-90,90],
				},
				longitude:{
					required:true,
					alphamuneric:false,
					range:[-180,180],
				},
				color:{
					required:false,
					customValidation:true,
				}
				
			},
			
			messages:{
				latitude:{
					required: "Please enter this field",
					alphamuneric: "Alphanumeric values are not allowed",
					range: "Value should be in range -90 to 90"
				},
				longitude:{
					required: "Please enter this field",
					alphamuneric: "Alphanumeric values are not allowed",
					range: "Value should be in range -180 to 180"
				}
			},
			errorPlacement: function (error, element) {
                //element.parents(".yd-line").find(".yd-fielderr").append(error);
				error.insertBefore(element);
               
            },
			
			submitHandler : function(form){
				var dictionary = {};
				dictionary['latitude'] = $('#latitude').val();
				dictionary['longitude'] = $('#longitude').val();
				dictionary['color'] = $('#color').val();
				call_ajax(dictionary);
			}
		});
		
		function call_ajax(dictionary){
			console.log(dictionary)
			console.log(JSON.stringify(dictionary))
			$.post('/cab/book/',dictionary)
							.done(function(data){
								console.log(data);
								if (data['message'] == 'No cabs available'){
									window.alert("Sorry no cabs available, Please try again");
							        window.location = "{% url 'home' %}";
								}else{
									window.alert("Your cab has been successfully booked");
							        window.location = "{% url 'home' %}";
								}
							})
							.fail(function(event){
                                window.alert("Sorry Not able to book cab, Please try again after sometime")
                                
                            });
		}	
	})
		
	</script>
{% endblock %}
