{% extends "base.html" %}
{% block bodycontent %}
	<div>
	  <h2 class="text-center">Available Cabs</h2>
	  <a href="{% url 'cab_book'  %}" class="btn btn-primary btn-md pull-right">Book Cab</a>
	</div>

	<div style="margin-top:100px;" class="table-responsive">
	{% if object_list %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th> Cab Number </th>
					<th> Cab Type </th>
					<th> Cab Color </th>
				</tr>
			</thead>
			<tbody>
				{% for cab in object_list %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{cab.number}}</td>
					<td>{{cab.cab_type}}</td>
					<td>{{cab.color}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{%else%}
		<p style="text-align: center;">No Cabs Available Right Now!! Please search after sometime</p>
  	{% endif %}
	</div>
{% endblock bodycontent %}